body{
  font-family: 'Source Sans Pro', sans-serif;
}
h2,h4,a{
  font-family: 'Martel Sans', sans-serif;
}
section{
  margin-top:2em;
}
.writing{
  font-family: 'Satisfy', cursive;
}
a{
  color: #000;
}
a:hover{
  color:#000;
}
.sub-heading{
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}
.btn-more{
  border: 1px solid #000;
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
}
.landing-page{
  background-image: url("../img/landing-pic.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
header a{
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.8em;
}
header a:hover{
  color: #fff;
  font-weight: 400;
}
header i{
  color: #fff;
}
.logo{
  width:50px;
  height:50px;
  border-radius:50%;
}
.landing-page-inner{
  height: 100vh;
}
.hero-msg{
  background-color: rgba(255, 0, 0, 0.7);
  width:30vw;
  padding:0.5em;
  color: #fff;
  text-align: center;
  border-radius: 2%;
}
.showcase-row{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.showcase-writing{
  background-color: transparent;
  border:2px solid #000;
  text-align: center;
  transform:translate(0.5em,0.5em);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-writing-outer{
  border: none;
  background-color: rgba(255, 0, 0, 0.7);
  margin: 2%;
  height:12em;
  width:18em;
  max-width:100%
}
.latest-blog{

}
.footer{
  text-align:center;
  color:#fff;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 1em;
}
.signUp-btn{
  margin: 0.2em;
  background-color:rgba(255, 0, 0, 0.8);
  border: 1px solid black;
}
.footer a{
  color: #fff;
}
.footer i{
  padding: 0.1em;
  margin:0.1em;
  min-width:20px;
  border: 1px solid #fff;
  border-radius:3%;
}
